.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
}

.employeeListWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-size: 2rem;
    margin: 2rem;
}
